@model IEnumerable<Distribuidora.Models.Producto>

@{
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buscar</h2>

<p>
   @using (Html.BeginForm())
   {
     <div  class="form-group">
         <label>Codigo</label>@Html.RadioButton("filtroBusqueda", "Codigo",true)
         <label>Nombre</label>@Html.RadioButton("filtroBusqueda", "TextoNombre")
         <label>Descripcion</label>@Html.RadioButton("filtroBusqueda", "TextoDescripcion")
         <label>Rango de precios</label>@Html.RadioButton("filtroBusqueda", "RangoPrecios")
         <label>Tipo de producto</label>@Html.RadioButton("filtroBusqueda", "TipoProducto")
    </div>
    <div class="form-group">
            Filtro: @Html.TextBox("parametroBusqueda")
    </div>
    <div class="form-group">
            <input type="submit" value="Buscar" class="btn btn-default" />
    </div>
   }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioSugerido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioSugerido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioVenta)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Codigo }) 
        </td>
    </tr>
}

</table>
